.forecast{
  display: inline-flexbox;
  align-self: center;
  top: 0px;
  left: -353px;
  width: 1082px;
  height: 813px;
  background: transparent url('../../img/weather.png') 0% 0% no-repeat padding-box;
  opacity: 0.8;
}
