.resultDiv{
  display: inline-block;
  align-self:center;
width: 336px;
height: 230px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
border-radius: 12px;
opacity: 0.8;
margin-bottom: 50px;
}
.weatherLabel{
  top: 269px;
left: 179px;
width: 123px;
height: 54px;
text-align: center;
font: normal normal 800 22px/27px Montserrat;
letter-spacing: 0px;
color: #404491;
opacity: 1;
}
.temp{
  text-align: left;
  font: italic normal 900 64px/78px Montserrat;
  letter-spacing: 0px;
  color: #404491;
  opacity: 1;
}
.other{
  position: sticky;
  top: 300px;
  left: 375px;
  height: 80px;
  width: auto;
  background: #404491 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 12px;
  opacity: 1;
}
.windSpeed{
  margin: 30px;
  top: 503px;
  left: 130px;
  width: 63px;
  height: 22px;
  text-align: right;
  font: normal normal bold 18px/38px Montserrat;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}
.humidity{
  margin: 25px;
  top: 503px;
  left: 279px;
  width: 39px;
  height: 22px;
  text-align: left;
  font: normal normal bold 18px/38px Montserrat;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}
.imgLabelDiv{
  margin-top: 10px;
  display: inline-flex;
}
